#carouselExampleIndicators .card-body{
    z-index: 1;
    top: 33%;
    position: absolute;
}
#carouselExampleIndicators .card-title{
    line-height: 1.8;
}

.carousel-control-prev,.carousel-control-next{
    width: 5%;
}


